<div class="bg-white shadow-2sm p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10 w-full">
  <form [formGroup]="addProductForm">
    <div class="flex flex-wrap -m-2">
      <div class="w-full sm:w-1/2 p-2">
        <div>
          <label class="field-lbl min-w-[144px] w-36" for="title"
            [ngClass]="{ 'field-error' : formControls.title.touched && formControls.title.invalid }">
            {{ 'product.title' | translate }} <span class="text-red">*</span>
          </label>
          <app-vc-input formControlName="title"
            [customClass]="{ 'form-field h-full' : true, 'field-error' : formControls.title.touched && formControls.title.invalid }"
            placeholder="{{ 'product.titlePlaceholder' | translate }}" type="text" name="title" />
        </div>
      </div>
      <div class="w-full sm:w-1/2 p-2">
        <div>
          <label class="field-lbl min-w-[144px] w-36" for="link"
            [ngClass]="{ 'field-error' : formControls.link.touched && formControls.link.invalid }">
            {{ 'product.link' | translate }} <span class="text-red">*</span>
          </label>
          <app-vc-input formControlName="link"
            [customClass]="{ 'form-field h-full' : true, 'field-error' : formControls.link.touched && formControls.link.invalid }"
            placeholder="{{ 'product.linkPlaceHolder' | translate }}" type="text" name="link" />
          <ng-container *ngTemplateOutlet="fieldError; context: { control: formControls.link }" />
        </div>
      </div>
      <div class="w-full p-2">
        <div>
          <label class="field-lbl min-w-[144px] w-36" for="description"
            [ngClass]="{ 'field-error' : formControls.description.touched && formControls.description.invalid }">
            {{ 'product.description' | translate }} <span class="text-red">*</span>
          </label>
          <textarea name="description" formControlName="description" class="form-field"
            [ngClass]="{'field-error' : formControls.description.touched && formControls.description.invalid}"
            placeholder="{{ 'product.descriptionPlaceHolder' | translate }}"></textarea>
        </div>
      </div>
      <div class="w-full sm:w-1/2 p-2">
        <label class="field-lbl min-w-[144px] w-36" for="type"
          [ngClass]="{ 'field-error' : formControls.type.touched && formControls.type.invalid }">
          {{ 'product.category' | translate }} <span class="text-red">*</span>
        </label>
        <ng-select class="w-full font-semibold text-secondary custom-select rounded" formControlName="type"
          [ngClass]="{ 'field-error' : formControls.type.touched && formControls.type.invalid }" [clearable]="false"
          [searchable]="false" [placeholder]="'product.typePlaceHolder' | translate">
          @for (sort of categories; track sort) {
          <ng-option [value]="sort.value">{{ sort.label }}</ng-option>
          }
        </ng-select>
      </div>
      <div class="w-full sm:w-1/2 p-2">
        <div class="pb-4">
          <label class="field-lbl min-w-[144px] w-36" for="index"
            [ngClass]="{ 'field-error' : formControls.index.touched && formControls.index.invalid }">
            {{ 'common.displayOrder' | translate }}
          </label>
          <app-vc-input formControlName="index"
            [customClass]="{ 'form-field h-full' : true,'field-error' : formControls.index.touched && formControls.index.invalid  }"
            placeholder="0" type="text" name="index" [applyAllowNumberOnly]="true" [regexType]="integer" />
        </div>
      </div>
      <div class="w-full p-2">
        <label class="field-lbl min-w-[144px] w-36" for="logo"
          [ngClass]="{ 'field-error' : formControls.logo.touched && formControls.logo.invalid }">
          {{ 'product.logo' | translate }}<span class="text-red">*</span>
        </label>
        <div class="flex-col rounded-md border p-4 relative"
          [ngClass]="{ 'field-error' : formControls.logo.touched && formControls.logo.invalid }">
          @if (formControls.logo.value) {
          <app-vc-button [class]="{ 'text-red absolute right-4 top-4 z-10' : true }"
            (buttonTap)="removeImage(fileInput)">
            <app-svg-icon name="delete" />
          </app-vc-button>
          }
          <label
            class="relative w-full flex items-center justify-center bg-gray-100 py-6 px-4 rounded-lg cursor-pointer h-32">
            @if (formControls.logo.value) {
            <img class="max-h-full" [src]="formControls.logo.value[0].url" [alt]="formControls.title">
            } @else {
            <app-svg-icon name="upload" class="text-grey-light" />
            <span class="ml-3 text-grey-light">{{ 'whatWeDo.uploadImage' | translate }}</span>
            }
            <input type="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" [accept]="imageType"
              (change)="onFileChange($event)" #fileInput multiple />
          </label>
          <i class="text-grey-light text-xs">{{ 'common.fileHint' | translate: { extension, size, ratio } }}</i>
        </div>
      </div>
      <div class="w-full flex">
        <div class="w-full sm:w-1/3 p-2">
          <div class="flex items-center rounded-md px-4 border border-grey-50 h-10">
            <label class="text-black-light font-semibold min-w-[100px]" for="isActive"
              [ngClass]="{ 'field-error' : formControls.isActive.touched && formControls.isActive.invalid }">
              {{ 'common.status' | translate}}</label>
            <mat-slide-toggle class="custom-slide-toggle" formControlName="isActive" id="isActive" />
          </div>
        </div>
        <div class="w-full sm:w-1/3 p-2">
          <div class="flex items-center rounded-md px-4 border border-grey-50 h-10">
            <label class="text-black-light font-semibold min-w-[100px] mr-4" for="isHighlighted"
              [ngClass]="{ 'field-error' : formControls.isHighlighted.touched && formControls.isHighlighted.invalid }">
              {{ 'common.highlighted' | translate }}
            </label>
            <mat-slide-toggle class="custom-slide-toggle" formControlName="isHighlighted" id="is-highlight" />
          </div>
        </div>
        <div class="w-full sm:w-1/3 p-2">
          <div class="flex items-center rounded-md px-4 border border-grey-50 h-10">
            <label class="text-black-light font-semibold min-w-[100px] mr-4" for="isPaid"
              [ngClass]="{ 'field-error' : formControls.isPaid.touched && formControls.isPaid.invalid }">
              {{ 'product.paid' | translate }}
            </label>
            <mat-slide-toggle class="custom-slide-toggle" formControlName="isPaid" id="is-paid" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-start mt-6 2xl:mt-8">
      <app-vc-button [class]="{ 'common-btn secondary-btn font-semibold rounded-5 min-w-[100px] mr-4' : true }"
        (buttonTap)="navigateToList()" [isDisabled]="isSubmitted()">{{ 'common.cancel' | translate }}</app-vc-button>
      <app-vc-button [class]="{ 'common-btn primary-btn font-semibold rounded-5 min-w-[100px]' : true }"
        (buttonTap)="onSubmit()" [isDisabled]="isSubmitted()" [spin]="isSubmitted()">
        {{ (_id() ? 'common.update' : 'common.add') | translate }}
      </app-vc-button>
    </div>
  </form>
</div>

<ng-template #fieldError let-control="control">
  @if (control.touched && control.errors?.pattern) {
  <p class="error-message">{{ ('validation.invalidBookURL' | translate ) }}</p>
  }
</ng-template>