<div class="bg-white shadow-2sm p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10 w-full max-w-5xl">
  <form [formGroup]="changePasswordForm">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full p-2">
        <div class="relative">
          <label class="field-lbl" for="oldPassword"
            [ngClass]="{ 'field-error': formControls.oldPassword.touched && formControls.oldPassword.invalid }">
            {{ 'member.oldPassword' | translate }}
            <span class="text-red">*</span>
          </label>
          <app-vc-input formControlName="oldPassword"
            [customClass]="{ 'form-field': true, 'field-error': formControls.oldPassword.touched && formControls.oldPassword.invalid }"
            [type]="oldPasswordFieldType()" name="oldPassword" />
          <div class="absolute top-10 right-3">
            <app-svg-icon [name]="oldPasswordFieldType() === 'password' ? 'visibility_off' : 'visibility_on'"
              (click)="toggleOldPasswordVisibility()" />
          </div>
        </div>
      </div>
      <div class="w-full p-2">
        <div class="relative">
          <label class="field-lbl" for="password"
            [ngClass]="{ 'field-error': formControls.password.touched && formControls.password.invalid }">
            {{ 'member.newPassword' | translate }}
            <span class="text-red">*</span>
          </label>
          <app-vc-input formControlName="password"
            [customClass]="{ 'form-field': true, 'field-error': formControls.password.touched && formControls.password.invalid }"
            [type]="passwordFieldType()" name="password" />
          <div class="absolute top-10 right-3">
            <app-svg-icon [name]="passwordFieldType() === 'password' ? 'visibility_off' : 'visibility_on'"
              (click)="togglePasswordVisibility()" />
          </div>
        </div>
        <ng-container
          *ngTemplateOutlet="fieldError; context: { control: formControls.password, message: ( 'validation.invalidPassword' | translate ) }" />
      </div>
      <div class="w-full p-2">
        <div class="relative">
          <label class="field-lbl" for="confirmPassword"
            [ngClass]="{ 'field-error': formControls.confirmPassword.touched && changePasswordForm.invalid }">
            {{ 'member.confirmPassword' | translate }}
            <span class="text-red">*</span>
          </label>
          <app-vc-input formControlName="confirmPassword"
            [customClass]="{ 'form-field': true, 'field-error': formControls.confirmPassword.touched && changePasswordForm.invalid }"
            [type]="confirmPasswordFieldType()" name="confirmPassword" />
          <div class="absolute top-10 right-3">
            <app-svg-icon [name]="confirmPasswordFieldType() === 'password' ? 'visibility_off' : 'visibility_on'"
              (click)="toggleConfirmPasswordVisibility()" />
          </div>
        </div>
        <ng-container
          *ngTemplateOutlet="fieldError; context: { control: formControls.confirmPassword, form: changePasswordForm, message: ( 'validation.passwordValidation' | translate ) }"></ng-container>
      </div>
    </div>
    <div class="flex justify-start mt-6 2xl:mt-8">
      <app-vc-button [class]="{ 'common-btn primary-btn font-semibold rounded-5 min-w-[100px]': true }"
        (buttonTap)="changePassword()" [isDisabled]="isLoading()" [spin]="isLoading()">
        {{ 'common.update' | translate }}
      </app-vc-button>
    </div>
  </form>
</div>
<ng-template #fieldError let-control="control" let-form="form" let-message="message">
  @if (control.touched && (control.errors?.pattern) || (!control.errors?.required && form?.errors?.mismatch)) {
  <p class="error-message">{{ message }}</p>
  }
</ng-template>