<div class="flex flex-col py-5 px-4 min-h-[100vh] items-center justify-center">
  <img class="w-32" [src]="logoURL" alt="logo">
  <div class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-full py-4 sm:py-11 rounded-10 mt-7 md:mt-[90px]">
    <form [formGroup]="resetPasswordForm">
      <div class="bg-blue-100 border-blue-400 border rounded-md text-blue-400 p-3 mb-5 md:mb-7">
        <p class="text-xs">
          {{ 'login.setPasswordInfo' | translate }}
        </p>
      </div>
      <div class="relative">
        <label class="field-lbl" for="password"
          [ngClass]="{ 'field-error' : formControls.password.touched && formControls.password.invalid }">
          {{ 'login.password' | translate }} <span class="text-red">*</span>
        </label>
        <app-vc-input formControlName="password" [customClass]="{
          'form-field' : true, 'field-error' : formControls.password.touched && formControls.password.invalid
          }" [type]="passwordFieldType()" name="password" />
        <div class="absolute top-10 right-3">
          <app-svg-icon [name]="passwordFieldType() === 'password' ? 'visibility_off' : 'visibility_on'"
            (click)="togglePasswordVisibility()" />
        </div>
      </div>
      <ng-container *ngTemplateOutlet="patternError; context: {
          control: formControls.password,
          message: ( 'validation.invalidPassword' | translate )
          }" />
      <div class="mt-4 relative">
        <label class="field-lbl" for="confirmPassword"
          [ngClass]="{ 'field-error' : formControls.confirmPassword.touched && formControls.confirmPassword.invalid }">
          {{ 'login.confirmPassword' | translate }}<span class="text-red">*</span>
        </label>
        <app-vc-input formControlName="confirmPassword" [customClass]="{ 'form-field' : true,
            'field-error' : formControls.confirmPassword.touched && formControls.confirmPassword.invalid
            }" [type]="confirmPasswordFieldType()" name="confirmPassword" />
        <div class="absolute top-10 right-3">
          <app-svg-icon [name]="confirmPasswordFieldType() === 'password' ? 'visibility_off' : 'visibility_on'"
            (click)="toggleConfirmPasswordVisibility()" />
        </div>
      </div>
      <ng-container
        *ngTemplateOutlet="patternError; context: { control: formControls.confirmPassword, form: resetPasswordForm, message: ( 'validation.passwordValidation' | translate ) }" />
      <div class="mt-5 md:mt-8 text-right">
        <app-vc-button type="submit"
          [class]="{ 'common-btn secondary-btn font-base font-semibold rounded-5 min-w-[120px]' : true, 'pointer-events-none' : isSubmitted() }"
          [isDisabled]="isSubmitted()" [spin]="isSubmitted()" (buttonTap)="resetPassword()">
          {{ 'login.resetPassword' | translate }}
        </app-vc-button>
      </div>
    </form>
  </div>
</div>
<ng-template #patternError let-control="control" let-form="form" let-message="message">
  @if (control.touched && (control.errors?.pattern) || (!control.errors?.required && form?.errors?.mismatch)) {
  <p class="error-message m-0 m-t-4">{{ message }}</p>
  }
</ng-template>