<div class="flex flex-col py-5 px-4 min-h-[100vh] items-center justify-center">
  <img class="w-32" [src]="logoURL" alt="logo">
  <div class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-full py-4 sm:py-11 rounded-10 mt-7 md:mt-[90px]">
    <form [formGroup]="forgotPasswordForm">
      <div class="mb-2">
        <p>
          {{ 'login.forgotPasswordInfo' | translate }}
        </p>
      </div>
      <div>
        <label class="field-lbl"
          [ngClass]="{ 'field-error' : (formControls.email.touched) && formControls.email.invalid }" for="email">
          {{ 'login.email' | translate }} <span class="text-red">*</span>
        </label>
        <app-vc-input formControlName="email" [customClass]="{
          'form-field' : true, 'field-error' : formControls.email.touched && formControls.email.invalid
          }" type="email" name="email" [required]="true" [pattern]="emailRegex" />
      </div>
      @if (formControls.email.touched) {
      @if (formControls.email.errors?.pattern) {
      <p class="error-message"> {{ 'validation.invalidEmail' | translate }} </p>
      }
      }
      <div class="mt-5 md:mt-8 text-right">
        <app-vc-button [type]="'submit'"
          [class]="{ 'common-btn secondary-btn font-base font-semibold rounded-5 min-w-[120px]' : true, 'pointer-events-none' : isSubmitted() }"
          [isDisabled]="isSubmitted()" [spin]="isSubmitted()" (buttonTap)="submitForm()">
          {{ 'common.submit' | translate }}
        </app-vc-button>
      </div>
      <div class="mt-2 md:mt-3 text-right">
        <app-vc-button [class]="{ 'cursor-pointer text-sm' : true }" [isDisabled]="isSubmitted()"
          (buttonTap)="backToLogin()">
          {{ 'login.backToLogin' | translate }}
        </app-vc-button>
      </div>
    </form>
  </div>
</div>