<div class="-m-2 xl:-m-3 2xl:-m-4">
  @if (dashboardCounts()) {
  <div class="flex flex-wrap">
    <div [routerLink]="routes.MEMBER"
      class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalMember' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-blue-600 mt-3">
            {{ dashboardCounts().member.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().member.inActive }}</p>
            <p>Active: {{ dashboardCounts().member.active }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalArtefacts' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-red mt-3">
            {{ dashboardCounts().artefact.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Approved: {{ dashboardCounts().artefact.approved }}</p>
            <p>Rejected: {{ dashboardCounts().artefact.rejected }}</p>
            <p>Pending: {{ dashboardCounts().artefact.pending }}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalExhibition' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-green mt-3">
            {{ dashboardCounts().exhibition.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().exhibition.inActive }}</p>
            <p>Active: {{ dashboardCounts().exhibition.active }}</p>
          </div>
        </div>
      </div>
    </div>
    <div [routerLink]="routes.PARTNER"
      class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalHeading' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-yellow-600 mt-3">
            {{ dashboardCounts().heading.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().heading.inActive }}</p>
            <p>Active: {{ dashboardCounts().heading.active }}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalDonation' | translate }}
          </p>
          <p
            class="text-[16px] xl:text-[16px] 2xl:text-[24px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-orange-600 mt-3">
            @if (dashboardCounts().donation && dashboardCounts().donation.total) {
            {{ dashboardCounts().donation.total | currency }}
            }
            @else {
            0
            }
          </p>
        </div>
      </div>
    </div>
    <div class="p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="cursor-pointer bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalArtist' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-grey-500 mt-3">
            {{ dashboardCounts().artist.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().artist.inActive }}</p>
            <p>Active: {{ dashboardCounts().artist.active }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="cursor-pointer bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalGalleries' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-purple-500 mt-3">
            {{ dashboardCounts().gallery.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().gallery.inActive }}</p>
            <p>Active: {{ dashboardCounts().gallery.active }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalCategory' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-teal-500 mt-3">
            {{ dashboardCounts().category.total }}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{ dashboardCounts().category.inActive }}</p>
            <p>Active: {{ dashboardCounts().category.active }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div>
          <p class="text-[15px] xl:text-base 2xl:text-xm font-semibold text-secondary">
            {{ 'dashboard.totalUser' | translate }}
          </p>
          <p
            class="text-3xl xl:text-[34px] 2xl:text-[28px] leading-[34px] xl:leading-[38px] 2xl:leading-[44px] font-bold text-blue-600 mt-3">
            {{dashboardCounts().user.total}}
          </p>
        </div>
        <div class="text-xs mt-6">
          <div class="w-full">
            <p>Inactive: {{dashboardCounts().user.inActive }}</p>
            <p>Active: {{dashboardCounts().user.active }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="p-2 xl:p-3 2xl:p-4 flex w-full xs:w-full lg:w-6/12 xl:w-6/12">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div class="flex mb-8 justify-between pb-4 border-b border-gray-300">
          <p class="text-lg">Artefacts</p>
          <button class="flex gap-2 text-sm items-center" (click)="getArtefacts()">
            <app-svg-icon name="refresh" class="w-5 h-5" />
            <p>Refresh</p>
          </button>
        </div>
        @if(!artefactLoading()) {
        <ul>
          @for(item of artefacts(); track item) {
          <li class="flex pb-3 border-b border-gray-200 mb-3 gap-4 items-center">
            <div class=" overflow-hidden rounded shrink-0">
              <img loading="lazy" [src]="item.url" [alt]="item.title" class="w-16 h-16 object-cover">
            </div>
            <div class="flex justify-between w-full">
              <div class="w-8/12">
                <p class="text-sm font-medium">{{item.title }}</p>
                <p class="rounded-[20px]  text-xs py-1 px-2 mt-2 inline-block " [ngClass]="{'bg-orange-50 text-orange-400': item.status === 'pending',
                'bg-green-light text-green': item.status !== 'pending'}">
                  {{ item.status === 'pending' ? 'Pending' : 'Approved' }}
                </p>
              </div>
              <p class="text-sm"> {{ item.updatedAt | date: 'MMM d, y, h:mm a'}} </p>
            </div>
          </li>
          } @empty {
          <p class="text-center"> No pending artefacts</p>
          }
        </ul>
        } @else {
        <ng-container *ngTemplateOutlet="artefactLoader"></ng-container>
        }
      </div>
    </div>

    <div class="p-2 xl:p-3 2xl:p-4 flex w-full xs:w-full lg:w-6/12 xl:w-6/12" style="display: none;">
      <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
        <div class="flex mb-8 justify-between pb-4 border-b border-gray-300">
          <p class="text-lg">Contributions</p>
          <button class="flex gap-2 text-sm items-center">
            <app-svg-icon name="refresh" class="w-5 h-5" />
            <p>Refresh</p>
          </button>
        </div>
        <ul>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
          <li class="flex text-sm font-medium pb-3 border-b border-gray-200 mb-3 gap-4 items-center justify-between">
            <p>Name</p>
            <p>₹ 500</p>
            <p>21 Jan 2020 4:55 PM</p>
            <button class="flex gap-2 w-4">
              <app-svg-icon name="right-arrow" class="w-2 h-6" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  }
  @if (isLoading()) {
  <div class="-m-2 xl:-m-3 2xl:-m-4 animate-pulse">
    <div class="flex flex-wrap">
      @for(item of skeletonItems(10); track item;){
      <div class="cursor-pointer p-2 xl:p-3 2xl:p-4 flex w-full xs:w-6/12 lg:w-3/12 xl:w-1/5 text-center">
        <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
          <div>
            <p class="text-[15px] h-4 bg-neutral-200 rounded-3xl">
            </p>
            <div class="flex justify-center items-center">
              <p class="text-3xl h-8 bg-neutral-200 w-1/4 rounded-3xl mt-5"></p>
            </div>
          </div>
          <div class="text-xs mt-5">
            <div class="w-full">
              <div class="h-4 bg-neutral-200 rounded-3xl mb-2"></div>
              <div class="h-4 bg-neutral-200 rounded-3xl mb-2"></div>
              <div class="h-4 bg-neutral-200 rounded-3xl"></div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <div class="flex flex-wrap animate-pulse">
      <div class="p-2 xl:p-3 2xl:p-4 flex w-full xs:w-full lg:w-6/12 xl:w-6/12">
        <div class="bg-white shadow-2sm w-full p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10">
          <div class="flex mb-8 justify-between pb-4 border-b border-neutral-300">
            <div class="h-5 bg-neutral-200 rounded-3xl w-1/3"></div>
            <div class="h-5 bg-neutral-200 rounded-3xl w-1/4"></div>
          </div>
          <ng-container *ngTemplateOutlet="artefactLoader"></ng-container>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<ng-template #artefactLoader>
  <ul>
    @for(item of skeletonItems(4); track item;){
    <li class="cursor-pointer flex pb-3 border-b border-neutral-200 mb-3 gap-4 items-center">
      <div class="overflow-hidden rounded shrink-0">
        <div class="w-16 h-16 bg-neutral-200 rounded"></div>
      </div>
      <div class="flex justify-between w-full">
        <div class="w-8/12">
          <div class="h-4 bg-neutral-200 rounded-3xl w-full mt-1"></div>
          <div class="h-4 bg-neutral-200 rounded-3xl w-1/2 mt-2"></div>
        </div>
        <div class="h-4 bg-neutral-200 rounded-3xl w-1/4"></div>
      </div>
    </li>
    }
  </ul>
</ng-template>